<!DOCTYPE html>
<html>
  <head>
    <title>ToDoList</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>
  <body class="container">
    <h1 class="text-center">
      ToDoList
    </h1>

    {{ if .error }}
      <p class="alert-warning" role="alert">{{ .error }}</p>
    {{ end }}

    {{ range $message := .title }}
      <ul class="list-unstyled">
        <li>
          <form action="delete" method="post" id="del-todo-{{ $message.Id }}">
            <input type="hidden" name="id" value="{{ $message.Id }}">
            <i class="glyphicon glyphicon-remove" onclick="document.getElementById('del-todo-{{ $message.Id }}').submit()">{{ $message.Title }}</i>
          </form>
          <!--
            <a href="delete/{{ $message.Id }}">
            <i class="glyphicon glyphicon-remove"></i>
            </a>
          -->
        </li>
      </ul>
    {{ end }}

    <form action="submit" method="post">
      <div class="form-group">
        <input type="text" class="form-control" name="title" placeholder="Entrez un titre" />
      </div>
      <input type="submit" class="btn btn-primary" />
    </form>

  </body>
</html>
